<div class="container">

    <div class="row mt-5">

        <div class="mb-3">
            <input type="text" class="form-control mb-3" placeholder="Enter Name" [(ngModel)]="userName" />
        </div>

        <div class="mb-3">
            <input type="email" class="form-control mb-3" placeholder="Enter Email" [(ngModel)]="userEmail" />
        </div>
        
        
        <div class="bg-light p-4 mb-3 rounded">
            <h3>Name : <span class="text-danger">{{userName}}</span></h3>
            <h3>Email : <span class="text-danger">{{userEmail}}</span></h3>
        </div>
         
    </div>
    
</div>
